.fileInput {
  display: flex;
  justify-content: center;
}

.label {
  font-size: 0.75rem;
  border: 2px solid;
  padding: 0.625rem;
  color: #fff;

  &:hover {
    color: orange;
    cursor: pointer;
  }
}

.selectedFiles {
  color: #fff;
  margin-top: 2rem;
}
