$primary-bg-color: #282c34;

html {
  background-color: $primary-bg-color;
}

.App {
  background-color: $primary-bg-color;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.name {
  color: orange;
  margin-bottom: 2rem;
}

.error {
  color: red;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
